.fieldLabel {
  font-size: 10px;
  -o-transform: translateY(-21px);
  -ms-transform: translateY(-21px);
  -webkit-transform: translateY(-21px);
  -moz-transform: translateY(-21px);
  transform: translateY(-21px);
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  left: 36px;
  top: 16px;
  padding: 0 3px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.1;
  pointer-events: none;
}

.fieldControl {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  position: relative;
  width: 100%;
  display: inline-block;
  & * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    @include transition(all 0.3s ease-in-out);
  }
  .errorText {
    color: $text-red;
    text-align: left;
    font-size: 10px;
    position: absolute;
    left: 0;
    bottom: -16px;
  }
  label.error {
    left: 0;
    bottom: -14px;
    font-size: 10px;
    color: #dc3545;
    text-align: left;
    position: absolute;
  }
  sup {
    color: $text-red;
    font-size: 8px;
  }
}
.fieldSelectControl {
  &:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(36, 39, 44, 0.87);
    content: "";
    display: block;
    height: 0;
    margin: auto;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 18px;
    width: 0;
  }
  select {
    color: $text-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }
  /* For IE10 */
  select::-ms-expand {
    display: none;
  }
}
.fieldInput {
  border: 1px solid rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding: 0 16px 0 36px;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  background: #ffffff;
  outline: 0;
  &:focus {
    border-color: $accent;
    @include box-shadow(0 0 10px 0 rgba($black, 0.15));
  }
}

.fieldInput:-ms-input-placeholder ~ .fieldLabel {
  font-size: 14px;
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  top: 13px;
}

.fieldInput:placeholder-shown ~ .fieldLabel {
  font-size: 14px;
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  color: $text-color;
  top: 12px;
}

.fieldInput:focus ~ .fieldLabel {
  color: $accent;
  font-size: 10px;
  -o-transform: translateY(-21px);
  -ms-transform: translateY(-21px);
  -webkit-transform: translateY(-21px);
  -moz-transform: translateY(-21px);
  transform: translateY(-21px);
  top: 16px;
}
.fieldInput:focus ~ .fieldIcon {
  color: $accent;
}

.fieldTextarea {
  height: 100px;
  resize: none;
  line-height: 1.4;
  padding: 10px 16px 10px 36px;
  display: block;
}
.numberText {
  position: absolute;
  left: 16px;
  top: 11px;
  color: $text-color;
  font-size: 14px;
  &:before {
    content: "";
    position: absolute;
    right: -24px;
    top: -4px;
    bottom: -3px;
    width: 1px;
    background: #dfdfdf;
  }
}
.fieldIcon {
  position: absolute;
  left: 10px;
  top: 9px;
  font-size: 20px;
  line-height: 1;
  color: $text-color;
  &.icon-comment {
    top: 12px;
  }
}

/* file upload */
.fileUploadControl {
  .fileFormat {
    font-size: 12px;
    color: #9e9e9e;
    line-height: 25px;
  }
  .file-select {
    cursor: pointer;
    height: 38px;
    line-height: 38px;
    text-align: left;
    background: #ffffff;
    overflow: hidden;
    position: relative;
  }
  .file-select-button {
    background: #e8e7e9;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
  }
  .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
  }
  input[type="file"] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .fieldInput {
    padding: 0 !important;
    &.active {
      border-color: $accent;
      .file-select {
        border-color: $accent;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        .file-select-button {
          background: $accent;
          color: #ffffff;
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

.noIconField {
  .fieldInput {
    padding: 0 16px;
  }
  .fieldTextarea {
    padding-top: 16px;
  }
  .fieldLabel {
    left: 13px;
  }
  .noFieldControl {
    .fieldInput {
      padding-left: 87px;
    }
    .fieldLabel {
      left: 85px;
    }
  }
}

.smField {
  .fieldInput {
    height: 30px;
  }
  .fieldInput {
    padding: 2px 8px 0;
    font-size: 12px;
  }
  .fieldLabel {
    left: 8px;
    top: 14px;
    -o-transform: translateY(-18px);
    -ms-transform: translateY(-18px);
    -webkit-transform: translateY(-18px);
    -moz-transform: translateY(-18px);
    transform: translateY(-18px);
  }
  .fieldInput:-ms-input-placeholder ~ .fieldLabel {
    font-size: 10px;
    top: 10px;
  }

  .fieldInput:placeholder-shown ~ .fieldLabel {
    font-size: 10px;
    top: 10px;
  }
  .fieldInput:focus ~ .fieldLabel {
    color: $accent;
    font-size: 10px;
    -o-transform: translateY(-18px);
    -ms-transform: translateY(-18px);
    -webkit-transform: translateY(-18px);
    -moz-transform: translateY(-18px);
    transform: translateY(-18px);
    top: 14px;
  }
}
