.customControl{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 18px;
  padding: 3px 0 0 40px;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked ~ .customIndicator {
      background: $accent;
      border-color:$accent;
    }
    &:disabled ~ .customIndicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none;
    }
    &:checked ~ .customIndicator:after {
      display: block;
    }
  }
}
.customIndicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  border:1px solid #ccc;
  
  &:after {
    content: '';
    position: absolute;
    display: none;
  }
}
.customCheckbox {
  .customIndicator:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  input:disabled ~ .customIndicator:after {
    border-color: #7b7b7b;
  }
}
.customRadio {
  .customIndicator{
    @include border-radius(50%);
    &:after {
      left: 1px;
      top: 1px;
      height: 10px;
      width: 10px;
      @include border-radius(50%);
      background: $accent;
      border: 2px solid #fff;
    }
  }
  input:disabled ~ .customIndicator:after {
    background: #7b7b7b;
  }
}

/* Chip Radio and Checkbox Start */
.chipControlMain{
  &.noSpace{
    .customControl{
      padding:0;
    }
  }
  .customControl{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding:8px 10px;
    line-height: 16px;
    min-width: 75px;
    
    .customIndicator {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top:0;
      @include border-radius(2px);
      @include transition(all 0.2s ease-in-out);
      border:1px solid $border-color;
      &:after{
          display: none;
      }
    }
    input:checked ~ .title {
      color:$accent;
    }
    input:disabled ~ .title {
      color:$text-color;
    }
    .chipBox{
      border:1px solid $border-color;
      line-height: 31px;
      font-size: 9px;
      color:$primary;
      display: block;
      padding: 0 20px;
      @include border-radius(26px);
    }
    input:checked ~ .chipBox{
      color:$accent;
      border-color:$accent;
    }
    input:disabled ~ .chipBox{
      color:$text-color;
      border-color:$text-color;
    }
  }
}
// https://codepen.io/vijendrajangid/pen/zYOdpqP