table {
    border-spacing: 0;
    border-collapse: collapse;
    &.table-bordered {
        td,
        th {
            border: 1px solid #ddd;
        }
    }
    &.table {
        width: 100%;
        clear: both;
        margin: auto;
        font-size: 14px;
        text-align: left;
        max-width: none !important;
    }
    &.table-responsive {
        overflow-x: auto;
        display: block;
        white-space: nowrap;
        height: calc(100vh - 270px);
    }
    thead {
        th {
            padding: 8px 10px;
            background: #fbfbfb;
        }
    }
    tbody {
        td {
            padding: 8px 10px;
        }
    }
}
