/* ===========  Color Theming Start ============== */
/*Accent Color*/
// $accent:#fab82c; /* Accent Color */

$accent: #b80924; /* OptionAccent Color */
$accent-dark:  #012b72; /* Accent Dark */
$accent-blue:  #0d2d62; /* Accent blue */


/*Promotion Color*/
$promotion: #ffe400; 

/* Primary Color */
$primary:#221629; 

/*Gray Colors */
$gray:#fbfbfb;
$gray-dark:#bdb9bf;

/* Text Color */
$black:#000000;
$white:#ffffff;
$text-color:#959595;
$text-red:#ff0000;

/* Border Color */
$border-gray:#BDB9BF;
$border-color:#DFDFDF;

/* Font Family */
// $overpass-regular: "overpassregular";
// $overpass-semi-bold: "overpasssemibold";
// $rubik-semi-bold: "overpasssemibold";
$rubik-regular: 'Rubik';



// Spacing
$space-xs:4px;
$space-sm:8px;
$space-md:16px;
$space-lg:24px;
$space-xlg:32px;

// Grid and Media queries breakpoints
// Extra small screen / phone
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

// Extra Large screen / wide desktop
$screen-xlg: 1600px !default;
$screen-xlg-min: $screen-xlg !default;
$screen-xlg-desktop: $screen-xlg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

//== Grid system
$grid-columns: 12 !default;
$grid-gutter-width: 32px !default; //** Padding between columns. Gets divided in half for the left and right.
$grid-float-breakpoint: $screen-sm-min !default; // Navbar collapse  //** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default; //** Point at which the navbar begins collapsing.

//== Container sizes
// Small screen / tablet
$container-tablet: (720px + $grid-gutter-width) !default;
$container-sm: $container-tablet !default;//** For `$screen-sm-min` and up.

// Medium screen / desktop
$container-desktop: (940px + $grid-gutter-width) !default;
$container-md: $container-desktop !default;//** For `$screen-md-min` and up.

// Large screen / wide desktop
$container-large-desktop: (1140px + $grid-gutter-width) !default;
$container-lg: $container-large-desktop !default;//** For `$screen-lg-min` and up.

// Extra Large screen / wide desktop
$container-xlarge-desktop: (1200px + $grid-gutter-width) !default;
$container-xlg: $container-xlarge-desktop !default;//** For `$screen-lg-min` and up.

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight: normal !default;

$btn-default-color:$primary !default;
$btn-default-bg:$white !default;
$btn-default-border: #ccc !default;

$btn-primary-color: $white !default;
$btn-primary-bg: $primary !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;