// Floats
.clearfix {
    @include clearfix;
}
.center-block {
    @include center-block;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.f-none {
    float: none;
}
.child-f-left {
    & > * {
        @extend .f-left;
    }
}
// Positoins
.pos-r {
    position: relative;
}
.pos-f {
    position: fixed;
}
.pos-a {
    position: absolute;
}
// Toggling content
.hide,
.hidden {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    @include text-hide;
}
.overflow-h {
    overflow: hidden;
}
.overflow-v {
    overflow: visible;
}

// Alignment
.t-left {
    text-align: left;
}
.t-right {
    text-align: right;
}
.t-center {
    text-align: center;
}
.t-justify {
    text-align: justify;
}
.v-top {
    vertical-align: top;
}
.v-middle {
    vertical-align: middle;
}
.v-bottom {
    vertical-align: bottom;
}
.v-baseline {
    vertical-align: baseline;
}

/*Text Transform*/
.t-upper {
    text-transform: uppercase;
}
.t-cap {
    text-transform: capitalize;
}
.t-low {
    text-transform: lowercase;
}

//========= Colors Start
.t-white {
    color: $white;
}
.t-primary {
    color: $primary;
}
.t-accent {
    color: $accent;
}
.t-promotion {
    color: $promotion;
}
.t-danger {
    color: #dc3545;
}

/*Bg Color*/
.bg-white {
    background: $white;
}
.bg-primary {
    background: $primary;
}
.bg-accent {
    background: $accent;
}
.bg-promotion {
    background: $promotion;
}
//========= Colors End

// Display
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
    vertical-align: middle;
}
.d-inline {
    display: inline;
}
.d-none {
    display: none;
}
.child-d-inline-block {
    & > * {
        display: inline-block;
        vertical-align: middle;
    }
}

.d-table {
    display: table;
}
.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.d-table-main {
    @extend .d-table;
    width: 100%;
    & > * {
        @extend .d-table-cell;
    }
}
.d-table-main2 {
    @extend .d-table;
    & > * {
        @extend .d-table-cell;
    }
}

// border
.b-top {
    border-top: 1px solid #ddd;
}
.b-right {
    border-right: 1px solid #ddd;
}
.b-bottom {
    border-bottom: 1px solid #ddd;
}
.b-left {
    border-left: 1px solid #ddd;
}
.b {
    border: 1px solid #ddd;
}
.b-dashed-top {
    border-top: 1px dashed rgba(189, 185, 191, 0.5);
}
.b-dashed-bottom {
    border-bottom: 1px dashed rgba(189, 185, 191, 0.5);
}
.b-dashed {
    border: 1px dashed rgba(189, 185, 191, 0.5);
}

// Padding
.p-0 {
    padding: 0;
}
.p-xs {
    padding: $space-xs;
}
.p-sm {
    padding: $space-sm;
}
.p-md {
    padding: $space-md;
}
.p-lg {
    padding: $space-lg;
}
.p-xlg {
    padding: $space-xlg;
}

.p-top-0 {
    padding-top: 0;
}
.p-top-xs {
    padding-top: $space-xs;
}
.p-top-sm {
    padding-top: $space-sm;
}
.p-top-md {
    padding-top: $space-md;
}
.p-top-lg {
    padding-top: $space-lg;
}
.p-top-xlg {
    padding-top: $space-xlg;
}

.p-right-0 {
    padding-right: 0;
}
.p-right-xs {
    padding-right: $space-xs;
}
.p-right-sm {
    padding-right: $space-sm;
}
.p-right-md {
    padding-right: $space-md;
}
.p-right-lg {
    padding-right: $space-lg;
}
.p-right-xlg {
    padding-right: $space-xlg;
}

.p-bottom-0 {
    padding-bottom: 0;
}
.p-bottom-xs {
    padding-bottom: $space-xs;
}
.p-bottom-sm {
    padding-bottom: $space-sm;
}
.p-bottom-md {
    padding-bottom: $space-md;
}
.p-bottom-lg {
    padding-bottom: $space-lg;
}
.p-bottom-xlg {
    padding-bottom: $space-xlg;
}

.p-left-0 {
    padding-left: 0;
}
.p-left-xs {
    padding-left: $space-xs;
}
.p-left-sm {
    padding-left: $space-sm;
}
.p-left-md {
    padding-left: $space-md;
}
.p-left-lg {
    padding-left: $space-lg;
}
.p-left-xlg {
    padding-left: $space-xlg;
}

.p-xy-0 {
    padding-left: 0;
    padding-right: 0;
}
.p-xy-xs {
    padding-left: $space-xs;
    padding-right: $space-xs;
}
.p-xy-sm {
    padding-left: $space-sm;
    padding-right: $space-sm;
}
.p-xy-md {
    padding-left: $space-md;
    padding-right: $space-md;
}
.p-xy-lg {
    padding-left: $space-lg;
    padding-right: $space-lg;
}
.p-xy-xlg {
    padding-left: $space-xlg;
    padding-right: $space-xlg;
}

// Margin
.m-xs {
    margin: $space-xs;
}
.m-sm {
    margin: $space-sm;
}
.m-md {
    margin: $space-md;
}
.m-lg {
    margin: $space-lg;
}
.m-xlg {
    margin: $space-xlg;
}

.m-top-xs {
    margin-top: $space-xs;
}
.m-top-sm {
    margin-top: $space-sm;
}
.m-top-md {
    margin-top: $space-md;
}
.m-top-lg {
    margin-top: $space-lg;
}
.m-top-xlg {
    margin-top: $space-xlg;
}

.m-right-xs {
    margin-right: $space-xs;
}
.m-right-sm {
    margin-right: $space-sm;
}
.m-right-md {
    margin-right: $space-md;
}
.m-right-lg {
    margin-right: $space-lg;
}
.m-right-xlg {
    margin-right: $space-xlg;
}

.m-bottom-xs {
    margin-bottom: $space-xs;
}
.m-bottom-sm {
    margin-bottom: $space-sm;
}
.m-bottom-md {
    margin-bottom: $space-md;
}
.m-bottom-lg {
    margin-bottom: $space-lg;
}
.m-bottom-xlg {
    margin-bottom: $space-xlg;
}

.m-left-xs {
    margin-left: $space-xs;
}
.m-left-sm {
    margin-left: $space-sm;
}
.m-left-md {
    margin-left: $space-md;
}
.m-left-lg {
    margin-left: $space-lg;
}
.m-left-xlg {
    margin-left: $space-xlg;
}

.m-xy-0 {
    margin-left: 0;
    margin-right: 0;
}
.m-xy-xs {
    margin-left: $space-xs;
    margin-right: $space-xs;
}
.m-xy-sm {
    margin-left: $space-sm;
    margin-right: $space-sm;
}
.m-xy-md {
    margin-left: $space-md;
    margin-right: $space-md;
}
.m-xy-lg {
    margin-left: $space-lg;
    margin-right: $space-lg;
}
.m-xy-xlg {
    margin-left: $space-xlg;
    margin-right: $space-xlg;
}

/* Width */
.w-full {
    width: 100%;
}
.w-half {
    width: 50%;
}
.h-full {
    height: 100%;
}

// img responsive
.img-responsive {
    max-width: 100%;
    display: block;
}
.img {
    width: 100%;
    display: block;
}
strong {
    font-weight: bold;
}

//Font Weight
.t-bold {
    font-weight: bold;
}
.t-normal {
    font-family: $rubik-regular;
}

// Text Truncate
.truncate {
    @include truncate;
}

.text-xs {
    font-size: 10px;
}
.text-sm {
    font-size: 12px;
}
.text-md {
    font-size: 14px;
}
.text-lg {
    font-size: 16px;
}
.text-xlg {
    font-size: 18px;
}

.text {
    color: #959595;
}
.text-promotion {
    color: $promotion;
}
.text-accent {
    color: $accent;
}
.cursor-pointer {
    cursor: pointer;
}

// Radius and Shadow
.shadow {
    @include box-shadow(4px 4px 14px 0 rgba(96, 96, 96, 0.2) !important);
}
.noShadow {
    @include box-shadow(none !important);
}
.circle {
    @include border-radius(50%);
}
.radius {
    @include border-radius(8px!important);
}
.noRadius {
    @include border-radius(0 !important);
}
.radiusUp {
    @include border-radius(8px 8px 0 0!important);
}
.radiusDown {
    @include border-radius(0 0 8px 8px!important);
}
.radiusUp2 {
    @include border-radius(2px 2px 0 0!important);
}
.radiusDown2 {
    @include border-radius(0 0 2px 2px!important);
}
.radiusUp6 {
    @include border-radius(6px 6px 0 0!important);
}
.radiusDown6 {
    @include border-radius(0 0 6px 6px!important);
}

.rupeeCustom {
    font-size: 70%;
}
.noSpace {
    margin-left: -16px;
    margin-right: -16px;
}
.middleContain {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}