.top-left-part .logosmall{display: none; text-align: center; width: 52px; margin: 4px auto 6px;}
.hide-sidebar .logosmall{display: block; padding: 12px 5px;}
.hide-sidebar .logofull{display: none;}
.hide-sidebar .top-left-part{padding: 12px 25px;}
/* .nav.navbar-top-links{margin-top: 10px;} */
.clr-icn li a.profile-pic{color: #000;}
.clr-icn .dropdown-toggle i.mdi-bell-outline{color: #000;}
.plr-15{padding: 0 15px;}
/* COMMON CSS START */
.bg-title{    border-bottom: 1px solid #e0e0e0;}
.bg-title h4{color: #b80924; font-weight: 700;}
#page-wrapper{background: #fff;}
.d_block{display: block;}
.red{color: red;}
.golden-bold{color: #b80924; font-weight: 700;}
.border-b1px{border-bottom: 1px solid #e4e7ea;}
.hr-color{height: 1px; background: #e4e4e4;}
.in-active-btn .btn{border-radius: 0;}
.in-active-btn .active{background: #b80924; color: #fff; border-color: #b80924;}
.in-active-btn .btn-default{background: #fff; color: #333; border-color: #ccc;}
table .action-btn .btn{margin:0 5px;}
table .action-btn .btn-edit {background: #f1f1f1; color: #424243; font-size: 14px; padding: 3px 8px;}
table .action-btn .btn-delete{background: #d30000; color: #fff; font-size: 14px; padding: 3px 8px;}

.accordian .action-btn .btn{margin:0 5px;}
.accordian .action-btn .btn i{padding: 0; margin: 0; font-size: 14px !important;}
.accordian .action-btn .btn-edit {background: #e0e0df; color: #424243; font-size: 14px; padding: 3px 8px;}
.accordian .action-btn .btn-delete{background: #d30000; color: #fff; font-size: 14px; padding: 3px 8px;}

.dataTables_length .form-control.input-sm{color: #b80924; font-weight: 700;}
div.dataTables_wrapper div.dataTables_info{    color: #b80924;}
.select2-container .select2-selection--single{height: 38px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 38px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 35px;}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #e4e7ea;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.select2-container--default .select2-selection--single:focus{box-shadow: none;
    border-color: #263238;}
.form-control:focus {
    box-shadow: none;
    border-color: #263238;
}
label {
    font-weight: 600;
    color: #424243;
    margin-bottom: 8px;
    text-transform: capitalize;
}
.notify {
    position: relative;
    margin-top: -47px;
    left: -6px;
}
table{width: 100% !important;}
table th {color: #424243; font-weight: 600; font-size: 16px; background: #f1f1f1!important; white-space: nowrap; word-break: normal;}
table td{color: #424243; font-weight: 400; font-size: 14px; vertical-align: middle !important;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #b80924; border-color: #b80924;}
/* .dataTables_scrollHeadInner{width: 100% !important;} */
div.dataTables_wrapper div.dataTables_paginate{margin-top: 9px;}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{position: static; display: inline-block;}

.add-product .ql-snow .ql-tooltip{left: 0 !important;}


/* Ratio BTN Start*/
#radioBtn .active{background: #b80924; color: #fff; border-color: #b80924; -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.125); box-shadow: inset 0 1px 3px rgba(0,0,0,.125);}
#radioBtn .notActive{color: #333; background-color: #fff; border-color: #ccc;}
/* Radio BTN END */
 
/* Tabs css start */
.nav-tabs>li.active>a, .nav-tabs>li a{ border: none; border-bottom: 3px solid transparent; color: #424243; font-weight: 400;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a
    {background: transparent; border: 0; border-bottom: 3px solid #333333;}
.nav-tabs>li.active a{background: transparent; border: 0; border-bottom: 3px solid #333333;  color: #424243; font-weight: 500;}
 .nav-tabs>li>a:hover {border-bottom: 3px solid #333333; background: transparent;}
 .nav-tabs>li>a:focus{background: none;}

 .nav.nav-tabs.affix{position: fixed; top: 86px; z-index: 9; width: auto; background: #f3eee8; box-shadow: 0px 1px 8px #ccc;}
/* Tabs css end */

/* COMMON CSS END */


/* MANAGE PRODUCT CSS START */

/* add product start */

.product-tab .edit-box{margin: 10px 0; }
.product-tab .edit-box .ql-toolbar.ql-snow{background: #f1f1f1;}
.product-tab  .in-active-btn .btn{border-radius: 0;}
.product-tab .in-active-btn .active{background: #b80924; color: #fff; border-color: #b80924;}
.product-tab .in-active-btn .btn-default{background: #fff; color: #333; border-color: #ccc;}

.product-tab #radioBtn .active{background: #b80924; color: #fff; border-color: #b80924; -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.125); box-shadow: inset 0 1px 3px rgba(0,0,0,.125);}
.product-tab #radioBtn .notActive{color: #333; background-color: #fff; border-color: #ccc;}
.product-tab h5.add-tag{font-weight: 500; color: #333;}
.product-tab h5.add-tag span{margin-left: 15px; font-size: 21px; vertical-align: middle; color: #b80924; font-weight: 700; cursor: pointer;}

/* checkbox css start */
.checkbox {padding-left: 20px;}
.checkbox label {display: inline-block; vertical-align: middle; position: relative; padding-left: 5px;}
.checkbox label::before {content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 3px; background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;}
.checkbox label::after {display: inline-block; position: absolute; width: 16px; height: 16px; left: 0; top: 0; margin-left: -20px;
    padding-left: 3px; padding-top: 1px; font-size: 11px; color: #555555;}
.checkbox input[type="checkbox"] { opacity: 0; z-index: 1;}
.checkbox input[type="checkbox"]:focus + label::before { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;}
.checkbox input[type="checkbox"]:checked + label::after { font-family: 'FontAwesome';  content: "\f00c";}
.checkbox.checkbox-circle label::before {border-radius: 50%;}
.checkbox.checkbox-inline { margin-top: 0;}
.checkbox-primary input[type="checkbox"]:checked + label::before {background-color: #b80924; border-color: #b80924;}
.checkbox-primary input[type="checkbox"]:checked + label::after {color: #fff;}
  /* checkbox css end */

  /* Select button css start */
.file-upload{display:block;text-align:left;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:inline-block;color: #333;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative; vertical-align: middle;}
.file-upload .file-select .file-select-button{background:#f1f1f1;padding:0 10px;display:inline-block;height:40px;line-height:40px; font-size: 15px; color: #3c3c42; font-weight: 500;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#f1f1f1;color:#333;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#424243;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
/* Select button css end */
.file-upload h5.add-btn{display: inline-block; vertical-align: middle; margin: 0;}
.file-upload h5.add-btn span{margin-left: 15px; font-size: 21px; vertical-align: middle; color: #333333; font-weight: 700; cursor: pointer;}
.fileupload-rules{padding: 0;}
.fileupload-rules li{list-style: none; font-size: 15px; color: #333; margin: 5px 0;}

.submit-btn{margin-top: 15px;}
.submit-btn .btn-submit{padding: 10px 35px; background: #b80924; color: #fff; font-size: 15px; text-align: center; transition: all 0.7s; border-radius: 0; font-weight: 600;}
.submit-btn .btn-submit:hover{background: #333; }

.submit-btn .btn-cancel{margin-left: 10px; padding: 10px 35px; background: #9f9f9f; color: #fff; font-size: 15px; text-align: center; transition: all 0.7s; border-radius: 0; font-weight: 600;}
.submit-btn .btn-cancel:hover{background: #333; }

.product-tab .add-product-info{padding: 15px 25px; border: 1px solid #ddd;}

/* add product end */


/* Product listing start */
.product-listing table .pro-detail .pro-img-part{display: inline-block;  margin-right: 15px; vertical-align: top;}
.product-listing table .pro-detail .pro-img-part img{width: 100px;}
.product-listing table .pro-detail .pro-text-part{display: inline-block;  vertical-align: top; margin-top: 12px;}
.product-listing table .pro-detail .pro-text-part h5{color: #424243; font-weight: 400; font-size: 16px;margin: 0;}
.product-listing table .pro-detail .pro-text-part h3{color: #b80924; font-weight: 600; font-size: 25px; margin: 10px 0 4px;}
.product-listing table .pro-detail .pro-text-part p{color: #424243; font-weight: 400; font-size: 15px; margin: 0;}
.product-listing table .pro-price{font-weight: 600; color: #d30000;}
.product-listing table .in-active-status{background: #f1f1f1; color: #424243; font-size: 14px; padding: 3px 15px;}
.product-listing table .action-btn .btn-edit{background: #f1f1f1; color: #424243; font-size: 14px; padding: 3px 8px;}
.product-listing table .action-btn .btn{display: block; display: list-item; margin: 0 auto 9px;}
.product-listing table .action-btn .btn i{font-size: 15px; }
.product-listing table .action-btn .btn-delete{background: #d30000; color: #fff; font-size: 14px; padding: 3px 8px;}
/* Product listing start */


/* bulk upload css start */
    .bulk-upload h5{font-size: 16px; color: #333; font-weight: 400; margin-bottom: 15px;}
    .bulk-upload p{font-size: 16px; font-weight: 400; color: #424243;line-height: 30px; line-height: 37px; margin-top: 18px;}
    .bulk-upload p a{color: #b80924; font-size: 20px; font-weight: 700; }
/* bulk upload css end */

/* MANAGE PRODUCT CSS END */

/* MANAGE CUSTOMER CSS START */
.manage-customer table .action-btn .btn-edit{background: #f1f1f1; color: #424243; font-size: 14px; padding: 3px 8px;}
.manage-customer table .action-btn .btn i{font-size: 15px; }
/* MANAGE CUSTOMER CSS END */

/* MANAGE ORDER CSS START */
.manage-order table th{white-space: nowrap; word-wrap: normal;}
.manage-order table .btn-view{background: #f1f1f1; color: #000000; font-size: 13px; padding: 6px 11px; font-weight: 700;}
.manage-order .status-select{background: #f1f1f1; width: 70%; color: #424243; height: 29px; border-radius: 4px;    padding: 2px 12px; }
/* MANAGE ORDER CSS END */


/* MANAGE VENDORS CSS START */
.venders-listing table th{white-space: nowrap; word-wrap: normal;}
.venders-listing table .btn-delete{background: #d30000; color: #fff; font-size: 14px; padding: 3px 8px;}
/* MANAGE VENDORS CSS END */

/* MANAGE CATEGORY CSS START */
.add-category .in-active-btn .btn{border-radius: 0;}
.add-category .in-active-btn .active{background: #b80924; color: #fff; border-color: #b80924;}
.add-category .in-active-btn .btn-default{background: #fff; color: #333; border-color: #ccc;}

.add-category .select-category{
    width: 100%;
    border: 1px solid #d6d8d9;
    padding: 5px 15px;
    max-height: 300px;
    min-height: 110px;
    overflow: auto;
}
.add-category .select-category ul.main-category{padding: 0; margin: 0;}
.add-category .select-category ul.main-category li{list-style: none; font-size: 17px; margin: 13px 0; font-weight: 800; color: #b80924;}
.add-category .select-category ul.main-category li ul.sub-category{padding-left: 19px;}
.add-category .select-category ul.main-category li ul.sub-category li{font-size: 16px; font-weight: 600; color: #424243;}
.add-category .select-category ul.main-category li ul.sub-category li ul.sub-sub-category{padding-left: 19px;}
.add-category .select-category ul.main-category li ul.sub-category li ul.sub-sub-category li{font-size: 16px; font-weight: 500; color: #424243;}

.category-listing table .action-btn .btn-delete{background: #f1f1f1; color: #424243; font-size: 14px; padding: 3px 8px;}

.add-category select[multiple], .add-category select[size]{height: 170px;}
.accordian .panel .panel-heading .panel-title{color: #b80924; font-size: 18px; font-weight: 700;}
.accordian .panel-default .panel-heading, .accordian .panel-white .panel-heading{background-color: #f0f0f0; border-top:0; border-bottom: 1px solid #e0e0df;}
.accordian .panel .panel-body{padding: 10px 0px;}
.accordian .panel .panel-body .panel-body .panel-group{margin-bottom: 0;}
.accordian .panel .panel-body .panel-body{padding: 0;}

.accordian .panel .panel-body .panel-body ul {padding: 0; margin-left: 0px;}
.accordian .panel .panel-body .panel-body {padding-left: 45px;}
.accordian .panel .panel-body .panel-body ul li{margin: 0; padding: 0; font-size: 15px; color: #424243; font-weight: 400; list-style: none; padding: 15px 44px 15px 70px; border-top: 1px solid #e0e0df; display: inline-block; vertical-align: middle; width: 100%; line-height: 27px;}
.accordian .panel-group { margin-bottom: 0px;}
.accordian .panel-group .panel-heading{padding: 0 20px;}
.accordian .acc-tlt{ display: inline-block;     width: calc(100% - 130px); font-size: 16px;}
.accordian .acc-btnpart{float: right; width: 100px; text-align: right;}
.accordian .panel-group .panel .panel-heading a[data-toggle=collapse]{padding: 15px 0;}
.accordian .panel .panel-body .panel-heading{background: transparent; padding-left: 45px;}
.accordian .panel-group .panel+.panel {margin-top: 0px;}
.accordian .panel-group .panel .panel-heading+.panel-collapse .panel-body{padding: 0;}
.accordian .panel .panel-body .panel-body .panel-group .panel a{color: #b80924; font-weight: 700; font-size: 15px; display: block;padding: 15px 0;}

/* MANAGE CATEGORY CSS END */

/* MANAGE BRAND CSS START */
.brand-listing table .action-btn .btn-edit{background: #f1f1f1; color: #424243; font-size: 14px; padding: 3px 8px;}
.brand-listing table .action-btn .btn{margin:0 5px}
.brand-listing table .action-btn .btn i{font-size: 15px;}
.brand-listing table .action-btn .btn-delete{background: #d30000; color: #fff; font-size: 14px; padding: 3px 8px;}
/* MANAGE BRAND CSS END */

/* UPDATE INVENTORY CSS START */
.update-inventory h5{font-size: 16px; color: #333; font-weight: 400; margin-bottom: 15px;}
.update-inventory p{font-size: 16px; font-weight: 400; color: #424243;line-height: 30px; line-height: 37px; margin-top: 18px;}
.update-inventory p a{color: #b80924;  font-weight: 700; }
.update-inventory .file-upload .file-select .file-select-name{font-size: 14px;}
/* UPDATE INVENTORY CSS END */

/* MANAGE COUPONS CSS START */
.icon-right{position: relative; padding-right: 42px;}
.input-icon{position: absolute; right: 32px; top: 33px; font-size: 18px; color: #b80924;}
.input-icon.top-right{right: 29px !important; top: 30px !important; }
.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover{background: #b80924; color: #fff;}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled]{background: #424243; color: #fff;}
/* MANAGE COUPONS CSS END */

/* MANAGE SEO PAGE CSS START */
.seo-option .form-group p{font-size: 16px; margin: 10px 0; color: #424243; font-weight: 700;}
.seo-option .seo-data h4{margin: 10px 0; font-size: 22px; color: #b80924; font-weight: 800;}
.seo-option .seo-data p{font-size: 15px; color: #424243; font-weight: 400; margin-bottom: 10px;}
/* MANAGE SEO PAGE CSS END */

/* ADMIN PROFILE CSS START */
.admin-profile .admin-img{border: 1px solid #b80924; text-align: center;}
.admin-profile .admin-img img{max-width: 100%;}
.admin-profile .admin-detail{border: 1px solid #f1ede8;}
.admin-profile .admin-detail{margin: 5px 0; padding: 0 25px; text-align: center;}
.admin-profile .admin-detail ul{margin: 0; padding: 0;}
.admin-profile .admin-detail ul li{list-style: none; border-bottom: 1px solid #e8e8e8; padding: 15px 0; color: #787878; font-size: 14px; font-weight: 700;}
.admin-profile .admin-detail ul li:last-child{border: 0;}
.admin-profile .admin-detail ul li h2{margin: 0; padding: 0; color: #b80924; font-size: 22px; font-weight: 700;}

.admin-profile .admin-edit{padding: 10px; border: 1px solid #f1ede8;}
.admin-profile .admin-edit h3{font-size: 20px; padding: 15px; margin: 0; color: #b80924; font-weight: 700; background: #f3f3f3;}
.admin-profile .admin-edit h3.mt-50{margin-top: 50px;}
.admin-profile .admin-edit label{margin: 0; line-height: 38px; font-size: 17px; color: #787878;}
.admin-profile .admin-edit .form-group{margin: 0;}
.admin-profile .admin-edit .form-group .form-control{color: #c1c1c1; font-size: 14px; font-weight: 700;}
.admin-profile .admin-edit .p-15{padding: 15px;}
.admin-profile .admin-edit .btn-part{margin: 15px;}
.admin-profile .admin-edit .btn-part .btn-rounded{color: #fff; background: #b80924; font-size: 17px; text-transform: uppercase; font-weight: 700; padding: 4px 40px; transition: all 0.7s;}
.admin-profile .admin-edit .btn-part .btn-rounded:hover{background: #414142;}
/* input[type="file"]::-webkit-file-upload-button {
    background: #d3d3d3;
    border: 0;
    color: #6b6b6b;
    font-weight: 700;
    padding: 3px;
    text-align: right;
    float: right;
  } */
/* ADMIN PROFILE CSS END */
