
.login-bg{width: 100%; background: #000; display: block; height: 100vh; min-height: 550px; float: left;  background-size: cover;}
.bg-color{ background: rgba(255, 255, 255, .9); width: 100%; height: 100%;}
.log-form {
	 width: 40%;
	 /* min-width: 320px; */
	 max-width: 475px;
	 background: #fff;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 -webkit-transform: translate(-50%, -50%);
	 -moz-transform: translate(-50%, -50%);
	 -o-transform: translate(-50%, -50%);
	 -ms-transform: translate(-50%, -50%);
	 transform: translate(-50%, -50%);
     box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
     border: 1px solid #baa48b;
    padding: 10px;
}
 @media (max-width: 680px) {
	 .log-form {
		 width: 95%;
		 position: static;
		 margin: 0 auto 0 auto;
		 left: 0%;
		 -webkit-transform: translate(0%, 0%);
		 -moz-transform: translate(0%, 0%);
		 -o-transform: translate(0%, 0%);
		 -ms-transform: translate(0%, 0%);
		 transform: translate(0%, 0%);
    }
    .bg-color{padding: 15px;}
    .log-form form {margin-bottom: 15px;}
}
 .log-form form {
	 display: block;
	 width: 100%;
	 padding: 2em;
}
 .log-form .header {
	width: 90%;
    background: #424243;
    padding: 25px 10px;
    text-align: center;
    margin: 20px auto 0;
}
.log-form .header img{width: 130px;}
 .log-form .forgot {
	 color: #424243;
	 line-height: 0.5em;
	 position: relative;
	 top: 2.5em;
	 text-decoration: none;
	 font-size: 12px;
	 margin: 0;
	 padding: 0;
     float: right;
     font-weight: 400;
}

.log-form .checkbox{margin: 25px 0 0;}
.log-form .checkbox label{color: #424243; font-size: 12px; font-weight: 400;}