

@media screen and (min-width:1200px)
{.footer-link .p-0-res{padding: 0;}
}

@media screen and (min-width:1200px) and (max-width:1299px){
    .product-listing table .pro-detail .pro-text-part h3{ font-size: 20px;}
    .product-listing table .pro-detail .pro-img-part{margin-right: 10px;}
    .product-listing table .pro-detail .pro-img-part img {width: 73px;}
}
@media screen and (min-width:1169px) and (max-width:1199px){
    .product-listing table .pro-detail .pro-text-part h3{ font-size: 18px;}
    .product-listing table .pro-detail .pro-img-part{margin-right: 5px;}
    .product-listing table .pro-detail .pro-img-part img {width: 73px;}
}
@media screen and (min-width:992px) and (max-width:1168px){
    .product-listing table .pro-detail .pro-text-part h3{ font-size: 18px;}
    
}
@media screen and (min-width:1024px) and (max-width:1199px){
	
}

@media screen and (min-width:992px) and (max-width:1199px){
  
}

@media screen and (min-width:768px) and (max-width:991px){
    .product-listing table .pro-detail .pro-img-part{display: block; text-align: center;}
    .product-listing table .pro-detail .pro-text-part h3{ font-size: 18px;}
    .product-listing table .pro-detail .pro-text-part h5{font-size: 15px;}
    .product-listing table .pro-detail .pro-text-part p{font-size: 14px;}
    .product-listing table .pro-detail .pro-img-part{margin-right: 5px;}
    .product-listing table .pro-detail .pro-img-part img {width: 73px;}
    .product-listing table {word-break: normal; white-space: nowrap;}
}



@media screen and (max-width:767px){
    .top-left-part {width: 90px;}
    .top-left-part{padding: 21px 0;}
    .product-listing table {word-break: normal; white-space: nowrap;}
    .product-listing table .pro-detail .pro-img-part{display: block; text-align: center;}
    .product-listing table .pro-detail .pro-text-part h3{ font-size: 18px;}
    .product-listing table .pro-detail .pro-text-part h5{font-size: 15px;}
    .product-listing table .pro-detail .pro-text-part p{font-size: 14px;}
    .product-listing table .pro-detail .pro-img-part{margin-right: 5px;}
    .product-listing table .pro-detail .pro-img-part img {width: 73px;}
    .logofull{display: none;}
    .logosmall{display: block !important; text-align: center;}
    .sidebar{padding-top: 60px;}
    .table-responsive{padding: 15px 0;}
    .product-tab h5.add-tag{margin: 28px 0px 15px;}
    .checkbox{margin: 9px 0 25px; }
    .table-responsive{z-index: 1; position: relative;}
    body.show-sidebar.hide-sidebar{overflow: hidden;}
    .accordian .acc-tlt{font-size: 14px;}
    .accordian .panel-group .panel .panel-heading a[data-toggle=collapse]{padding: 12px 0;}
    .accordian .action-btn .btn{padding: 0px 5px; margin: 0 3px;}
    .accordian .acc-btnpart{width: 71px;}
    .accordian .panel .panel-body .panel-heading{padding-left: 28px;}
    .accordian .panel .panel-body .panel-body ul li{    padding: 15px 44px 15px 38px;}
    
}
@media (min-width: 768px){
    .fix-header #page-wrapper {margin-top: 84px;}
    .sidebar{ padding-top: 83px;}
}
@media screen and (min-width:480px) and (max-width:510px){

}

@media screen and (min-width:480px) and (max-width:767px){

}

	
@media screen and (max-width:480px){
    .page-content .nav>li>a{padding: 10px 6px; font-size: 12px;}
    .res-grid .col-xs-8{width: 100%;}
    .res-grid .col-xs-4{width: 100%;}
    .accordian .acc-tlt{font-size: 12px;}
    
}