#aboutus-main {
    p {
        color: $text-color;
        margin-bottom: 20px;
    }
    .title {
        font-size: 18px;
        color: #012b72;
        margin-bottom: 20px;
    }
    ul {
        padding-left: 20px;
        li {
            list-style: disc;
            margin-top: 15px;
            color: $text-color;
        }
    }
}

@media only screen and (min-width: 1023px) {
    #aboutus-main {
        .title {
            font-size: 28px;
        }
    }
}
