.accordion {
    background:transparent;
    cursor: pointer;
    padding: 18px;
    &::after {
      content:'';
      float: right;
      @include arrow-line(down, 1px, $white, -1px);
      padding:4px;
      margin: 3px 2px 0 0;
      @include transition(all 0.3s ease-out);
    }
    &.active {
      &::after {
        @include rotate(-135deg);
        margin-top: 8px;
      }
    }
  }
  .accordionPanel {
    padding: 0 32px;
    overflow: hidden;
    max-height: 0;
    @include transition(max-height 0.3s ease-out);
  }
  