.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  padding:$space-sm $space-md;
  cursor: pointer;
  font-size: 14px;
  background-image: none;
  border: 1px solid transparent;
  @include user-select(none);
  @include border-radius(20px);
    &, &:active, &.active {
      &:focus, &.focus {
        outline: none;
      }
    }

  &:hover, &:focus, &.focus {
    color:$black;
    text-decoration: none;
  }

  &:active, &.active {
    background-image: none;
    outline: 0;
    @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
  }

  &.disabled, &.disabledBtn, &[disabled], fieldset[disabled] & {
    cursor:not-allowed; /*$cursor-disabled */
    @include opacity(.65);
    @include box-shadow(none);
  }
  &.noRadius{
    @include border-radius(0);
  }
  &.radius2{
    @include border-radius(2px);
  }
  &.btnLarge{
    height:60px;
    font-size: 16px;
    font-weight: bold;
    @include border-radius(6px);
  }

}

a.btn {
  &.disabled, &.disabledBtn, fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

// Alternate buttons
.btn-default {
   background: $white;
   border-color:$primary;
   color:$primary;
  // @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  &:hover, &:focus{
    background:$primary;
    color:$white;
  }
}
.btn-accent {
  background: $accent;
  color: $white;
  &:hover,
  &:focus {
    background: darken($accent, 10%);
    color: $white;
  }
}

.btn-primary {
  background: $primary;
  color:$promotion;
  font-weight: bold;
  &:hover,
  &:focus {
    background: darken($primary, 5%);
    color:$white;
  }
}
.btn-promotion {
  background: $promotion;
  color:$black;
  &:hover,
  &:focus {
    background: darken($promotion, 5%);
    color:$white;
  }
}

// Link buttons
.btn-link {
  color: $accent;
  border-radius: 0;

  &, &:active, &.active, &[disabled], fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }

  &, &:hover, &:focus, &:active {
    border-color: transparent;
  }

  &:hover, &:focus {
    color: $accent-dark;
    background-color: transparent;
  }
  &[disabled], fieldset[disabled] & {
    &:hover, &:focus {
      color: rgba($black, 0.5);
      text-decoration: none;
    }
  }
}

.btn-link-primary {
  color: $primary;
}

.btnAccentBorder{
  border-color: $accent;
  color:$accent;
  background:$white;
  @include border-radius(4px);
  &:hover, &:focus{
    background: $accent;
    color:$white;
  }
}