.card {
    width: 100%;
    min-width: 260px;
    background: $white;
    @include box-shadow(4px 4px 14px rgba($primary, 0.1));
    padding: $space-md;
    @include border-radius(12px);
    position: relative;
    min-height: 100px;
    font-size: 12px;
    line-height: 1.4;
    display: inline-block;
    vertical-align: middle;
    &.shadowNone {
        @include box-shadow(none);
        padding: 16px;
    }
    .cardName {
        letter-spacing: 2.5px;
        margin: 5px 0 3px;
        font-size: 16px;
        color: $primary;
        font-weight: 500;
        text-transform: uppercase;
    }
}
