.get-in-touch {
    .details-box {
        border: 1px solid #eeeeee;
        border-radius: 6px;
        margin-bottom: 20px;
        padding: 16px;
    }
    i {
        font-size: 26px;
        color: $accent;
        margin-bottom: 16px;
        display: block;
        &:after {
            content: "";
            width: 80px;
            height: 2px;
            background: $accent;
            display: block;
            margin: 20px auto 0;
        }
    }
    p {
        line-height: 26px;
    }
}

#contactus-main {
    .contact-form {
        .title {
            font-size: 16px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 1023px) {
    #contactus-main {
        .contact-form {
            margin-top: 50px;
            .card {
                padding: 30px 40px;
            }
            .title {
                font-size: 20px;
            }
        }
    }
}
