.thinScrollBar{
    /* width */
    &::-webkit-scrollbar {
        width:3px;
        height:3px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background:rgba($primary, 0.15);
        margin-top:$space-sm;
        margin-bottom:$space-sm;  
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $accent !important;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background:$accent;
    }
}

.scrollX {
    /* Track */
    &::-webkit-scrollbar-track {
       margin-left:$space-xlg;
       margin-right:$space-xlg;
    }
}

.scrollY {
    overflow-y: auto;
}
