.footer-wap {
    background: #0d2d62;
    color: $white;
    padding: 40px 0 0;
    .footerLogo {
        width: 160px;
        display: block;
        margin: auto;
    }
    h3 {
        color: $white;
    }
    .links {
        width: 45%;
        margin-top: 15px;
    }
    ul li {
        color: #bdb9bf;
        margin: 10px 0;
    }
    .products {
        width: 54%;
    }
    .footerSocial {
        a {
            font-size: 22px;
            color: #bdb9bf;
            line-height: 24px;
            margin-right: 15px;
        }
    }
    .copyright {
        background: #08224e;
    }
}
