@media only screen and (min-width: 1023px) {
    .footer-web {
        background: #333;
        color: #fff;
        padding-top: 60px;
        h3 {
            color: $white;
        }
        .footerLogo {
            width: 160px;
        }
        .service {
            padding-left: 70px;
        }
        .footerLink li {
            margin: 7px 0;
            a {
                color: #bdb9bf;
            }
            &:before {
                content: "";
                float: left;
                @include arrow-line(right, 1px, #757575, -1px);
                padding: 3px;
                margin: 7px 20px 0 0;
                @include transition(all 0.3s ease-out);
            }
        }
        .footerSocial a {
            font-size: 22px;
            color: #bdb9bf;
            line-height: 24px;
            margin-right: 15px;
        }
        .copyright {
            margin-top: 30px;
            color: #777;
            background: #272727;
            a {
                color: #777;
            }
        }
    }
}
