.our-projects {
    .tabs {
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -moz-overflow-scrolling: touch;
        padding-top: 20px;
        li {
            font-size: 14px;
            padding: 5px 20px;
            border-radius: 30px;
            margin-right: 20px;
            border: 1px solid #9e9e9e3b;
            &.active {
                border-color: $accent;
            }
            &:first-child {
                margin-left: 16px;
            }
        }
    }
    .tab-content {
        display: none;
        &.current {
            display: block;
        }
    }
    .tab-content-wrap {
        margin-top: 40px;
        img {
            width: calc(50% - 10px);
            display: inline-block;
            margin: 0 4px 8px;
        }
    }
}

@media only screen and (min-width: 1023px) {
    .our-projects {
        .tabs {
            li {
                cursor: pointer;
                font-size: 16px;
                padding: 8px 30px;
                margin-right: 40px;
            }
        }
        .tab-content-wrap {
            margin-top: 60px;
            img {
                margin: 0 8px 8px;
                display: inline-block;
                width: calc(25% - 20px);
            }
        }
    }
}
