#headerWap {
    > * {
        float: left;
    }
    .logo {
        width: calc(100% - 107px);
        img {
            width: 100px;
            display: block;
        }
    }
}
// Sidebar Nav
#navBody {
    &.open {
        #mySidenav {
            width: 85%;
        }
        &:before {
            opacity: 1;
            visibility: visible;
        }
    }
    &:before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity: 0;
        position: fixed;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
    }
}
#mySidenav {
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;
    position: fixed;
    overflow-x: hidden;
    background: $white;
    @include transition(all 0.5s ease-in-out);
    @include border-radius(0 15px 15px 0);
    .logoNav {
        margin: 15px 0 15px 27px;
        img {
            width: 120px;
        }
    }
    .nav-list {
        overflow-y: auto;
        padding-top: 30px;
        max-height: calc(100% - 234px);
        border-top: 1px solid #f2f2f2;
        > li {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            width: 100%;
            .navTitle,
            a {
                display: block;
                padding: 10px 27px;
                color: $primary;
                font-weight: 500;
                position: relative;
                font-size: 16px;
            }
        }
        .subNav {
            overflow: hidden;
            max-height: 0;
            background: #f5f4f5;
            @include transition(max-height 0.3s ease-out);
            ul {
                padding: 12px 8px 12px 40px;
                white-space: normal;
            }
            li a {
                line-height: 30px;
                padding: 0;
                color: $primary;
                font-size: 14px;
                font-weight: $rubik-regular;
            }
        }
        .accordion {
            &:after {
                border-color: $accent;
            }
        }
    }
    .iconHolder {
        display: inline-block;
        font-size: 18px;
        line-height: 1;
        width: 42px;
        vertical-align: -2px;
        color: $accent;
    }
}
