@media only screen and (min-width: 1023px) {
    body #header-main.scroll-up {
        background: #fffffffa;
        nav li a {
            color: $primary;
        }
    }
    #headerWeb {
        padding: 26px 0;
        border-bottom: 1px solid #dfdfdf;
        .brandLogo img {
            width: 150px;
        }
        nav {
            li {
                display: inline-block;
                padding: 12px 0;
                a {
                    color: $primary;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 0 15px;
                    text-transform: uppercase;
                    &:hover {
                        color: $accent;
                    }
                }
            }
        }
    }
    .headerHome {
        #headerWeb {
            border-bottom: 0;
            nav li a {
                color: $white;
                &:hover {
                    color: $accent;
                }
            }
        }
        .logoAccent {
            display: none;
        }
        &.scroll-up {
            .logoAccent {
                display: block;
            }
            .logoWhite {
                display: none;
            }
        }
    }
}
