.heroBanner {
    position: relative;
    .imgBanner {
        height: 100%;
        display: block;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        left: 0;
    }
    .centerText {
        top: 55%;
        left: 50%;
        z-index: 999;
        width: 550px;
        position: absolute;
        text-align: center;
        transform: translate(-50%, -45%);
        h1{
            color: $white;
        }
        p{
            color: $white;
            max-width: 500px;
            margin: auto;
        }
        .btn{
            margin-top: 30px;
            padding: 8px 30px;
            &.btnAccentBorder{
                background: transparent;
                color: #fff;
                margin-left: 80px;
                border-radius: 20px;
            }
        }
    }
}

@media only screen and (min-width: 375px) {
    .heroBanner .slick-slide {
        height: 620px;
    }
}
@media only screen and (min-width: 360px) {
    .heroBanner .slick-slide {
        height: 560px;
    }
}
@media only screen and (min-width: 992px) {
    .heroBanner .slick-slide {
        height: 580px;
    }
}
@media only screen and (min-width: 1023px) {
    .heroBanner .imgBanner:after {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: #00000066;
    }
}
@media only screen and (min-width: 1440px) {
    .heroBanner .slick-slide {
        height: 680px;
    }
}
@media only screen and (min-width: 1680px) {
    .heroBanner .slick-slide {
        height: 700px;
    }
}
