.industriesServed {
    .heading h2 {
        color: $white;
    }
    .parallax {
        background: url(../../../images/Industries.jpg) no-repeat center;
        min-height: 600px;
        position: relative;
        background-attachment: fixed;
        background-size: cover;
        z-index: 99;
        &:after {
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: #0000008c;
            z-index: -9;
        }
        li {
            z-index: 999;
        }
    }
    .industriesCard {
        height: 135px;
        border-radius: 8px;
        font-size: 22px;
        text-align: center;
        color: $white;
        margin-bottom: 40px;
        position: relative;
        padding: 25px;
        h4 {
            color: $white;
        }
        p {
            color: #bdbdbd;
            margin-top: 10px;
            cursor: default;
        }
        &:after,
        &:before {
            content: "";
            position: absolute;
            width: calc(100% - 35px);
            height: calc(100% - 35px);
            border: 1px solid #e5e7e9;
            pointer-events: none;
            transition: 0.33s all ease;
        }
        &:hover:after,
        &:hover:before {
            width: calc(100% - 1px);
            height: calc(100% - 1px);
            border-color: #9e9e9e;
        }
        &:hover h4 {
            color: $accent;
        }
        &:after {
            bottom: 0;
            right: 0;
            border-width: 0 1px 1px 0;
        }
        &:before {
            top: 0;
            left: 0;
            border-width: 1px 0 0 1px;
        }
    }
}

@media only screen and (min-width: 1023px) {
    .industriesServed .industriesCard {
        font-size: 26px;
        height: 150px;
    }
}
