#filter-panel {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 111;
    width: 0;
    height: 100%;
    color: #000;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 12px;
    &.active {
        width: 100%;
        opacity: 1;
        left: 0;
    }
    .filterCont {
        left: 0;
        top: 0;
        width: 80%;
        height: 100%;
        z-index: 101;
        overflow: hidden;
        max-width: 500px;
        background: $white;
        padding: 20px 30px;
        position: absolute;
        border-radius: 0 15px 5px 0;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    }
    .icon-close:after, .icon-close:before{
        background: #777777;
    }
}
.listing-wrap {
    width: 100%;
    display: table;
    min-height: 1000px;
    background: #f3f3f3;
    .web-listing-main {
        width: 100%;
        vertical-align: top;
        padding: 40px 10px;
        transition: width 0.3s ease-in-out;
    }
}
.topFilter {
    height: 80px;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #dfdfdf;
    h2 {
        font-size: 22px;
        line-height: 80px;
    }
    .filterBtn {
        top: 30px;
        right: 20px;
        font-size: 18px;
        position: absolute;
    }
}
.filter-panel {
    .filter-main {
        padding: 0 12px 60px;
        max-height: calc(100% - 40px);
        overflow-y: auto;
    }
    .filter-group {
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 16px;
        padding-bottom: 4px;
    }
    .filter-head {
        line-height: 16px;
        text-transform: uppercase;
        color: #616161;
        position: relative;
        z-index: 1;
        margin-bottom: 8px;
        i {
            width: 27px;
            color: #012b72;
            font-size: 18px;
            margin-right: 10px;
        }
        span {
            vertical-align: 2px;
        }
    }
    .customIndicator {
        left: auto;
        right: 0;
        border: 0;
        top: 0;
        width: 16px;
        height: 16px;
        &:after {
            width: 6px;
            height: 14px;
            border-color: $accent;
        }
    }
    .customControl {
        width: 100%;
        padding: 4px 0;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 8px;
        input:checked ~ .customIndicator {
            background: 0;
        }
        input:checked ~ .itemName {
            color: $accent;
        }
        .itemName {
            font-size: 12;
            color: #959595;
        }
    }
    .icon-rupee {
        font-size: 75%;
        font-weight: 600;
        margin-right: 2px;
    }
}
#web-filter-panel {
    width: 265px;
    padding: 0 20px;
    display: table-cell;
    vertical-align: top;
    background: $white;
    transition: margin 0.3s ease-in-out;
}
.filter-header {
    position: relative;
    padding: 17px 20px 12px;
    .fitlter-title {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 0;
    }
    .clearBtn {
        width: 50px;
        color: #959595;
    }
}

@media only screen and (min-width: 1023px) {
    .topFilter {
        height: 100px;
        h2 {
            font-size: 32px;
            line-height: 100px;
        }
    }
    .filter-header {
        padding: 20px 20px 25px;
        .fitlter-title {
            font-size: 22px;
        }
        .clearBtn {
            font-size: 16px;
            font-weight: 600;
        }
    }
    .filter-panel {
        .filter-group {
            margin-bottom: 22px;
            padding-bottom: 10px;
            &:first-child {
                padding-top: 22px;
                border-top: 1px solid #dfdfdf;
            }
        }
        .filter-head {
            margin-bottom: 14px;
            font-weight: 600;
        }
        .customControl {
            .itemName {
                font-size: 15px;
            }
        }
    }
}
