.modalBody {
    left: 0;
    bottom: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 600;
    top: inherit;
    position: fixed;
    visibility: visible;
    animation: fadeUp 0.6s;
    @include transition(all 0.3s ease-in-out);
    &:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($black, 0.7);
        width: 100%;
        height: 100%;
        z-index: 601;
    }
    &.modalFadeUp {
        bottom: 0;
        top: inherit;
        animation: zoomMobile 0.6s;
    }
    &.modalHide {
        visibility: hidden;
        opacity: 0;
        .modalMainBottom {
            bottom: -300px;
        }
    }
    .closeIconBtn {
        top: -15px;
        right: 5px;
        width: 30px;
        height: 30px;
        background: $white;
        position: absolute;
        border: 5px solid #fff;
        @include border-radius(50%);
        &:after,
        &:before {
            content: "";
            left: 0;
            top: 9px;
            height: 2px;
            width: 100%;
            background: $primary;
            position: absolute;
        }
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }
    .modalTopLine {
        background: #dfdfdf;
        height: 4px;
        width: 83px;
        position: absolute;
        top: 6px;
        @include border-radius;
        left: 0;
        right: 0;
        z-index: 6;
        margin: 0 auto;
    }
}
.modalMain {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $white;
    z-index: 602;
    @include border-radius;
}
.modalFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 605;
}
.modalMainBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: calc(100% - 32px);
    @include transition(all 0.3s ease-in-out);
    background: $white;
    z-index: 602;
    @include border-radius(3px 3px 0 0);
    .closeIconBtn {
        top: -14px;
        right: 0;
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($black, 0.7);
    width: 100%;
    height: 100%;
    z-index: 601;
}

// Thank You Modal
#ModalThankyou {
    font-size: 16px;
    .title {
        font-size: 28px;
        font-weight: bold;
        color: $accent;
    }
}
// Media Quiery
@media only screen and (min-width: 991px) {
    .modalBody {
        .modalMainBottom {
            max-width: 500px;
            top: 50%;
            left: 50%;
            bottom: auto;
            @include border-radius(3px);
            @include translate(-50%, -50%);
        }
        .closeIconBtn {
            top: -25px;
            right: -35px;
        }
    }
}

@media only screen and (min-width: 1023px) {
    body {
        .modalMain {
            top: 50%;
            left: 50%;
            bottom: initial;
            width: 90%;
            max-width: 700px;
            min-width: 260px;
            max-height: calc(100% - 32px);
            @include translate(-50%, -50%);
        }
        .modalBody {
            .modalTopLine {
                display: none;
            }
            .closeIconBtn {
                top: -23px !important;
                right: 30px;
                width: 46px;
                height: 46px;
                @include box-shadow(0 3px 6px rgba($black, 0.16));
                &:before,
                &:after {
                    background: $text-color;
                    left: 8px;
                    top: 16px;
                    height: 1px;
                    width: 56%;
                }
                &:hover {
                    &:before,
                    &:after {
                        background: $accent;
                    }
                }
            }
            .modalMainBottom {
                max-width: 800px;
            }
        }
    }
}

// Fade Up Animation
@keyframes fadeUp {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}
