.pro-card {
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    &:hover {
        transform: scale(1.03);
        box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
    }
    .imgHolder {
        height: 310px;
        img {
            width: 100%;
            max-width: none;
            max-height: 310px;
            min-height: 310px;
        }
    }
    .proName {
        padding: 14px;
        font-size: 18px;
        text-align: left;
    }
}
