.ourServices {
    .servicesCard {
        margin-bottom: 30px;
        .details {
            padding: 30px 35px;
            min-height: 258px;
            position: relative;
            box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2);
            .btn {
                position: absolute;
                bottom: 25px;
            }
        }
    }
}