.productModal {
    z-index: 99999;
    .modalMain {
        padding: 20px 0;
    }
    .cardName {
        text-align: center;
        font-size: 20px;
        color: $accent;
    }
    &#modalSmall {
        .detailsWrap {
            margin-top: 20px;
        }
    }
    .quoteBtn {
        top: -13px;
        right: 50px;
        background: $white;
        border-radius: 25px;
        font-size: 12px;
        padding: 6px 12px;
        position: absolute;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        i {
            color: $accent;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}
.cardquickproduct {
    .imgHolder {
        overflow: hidden;
        position: relative;
        img {
            max-width: 450px;
            max-height: 270px;
        }
    }
    .slick-dots {
        bottom: -20px;
    }
}
.detailsWrap {
    p {
        color: $text-color;
        margin-bottom: 15px;
    }
    h4 {
        color: #012b72;
        margin-bottom: 15px;
    }
}
.tableWrap {
    margin-top: 20px;
    .title {
        font-size: 14px;
        color: #012b72;
        margin-bottom: 20px;
        font-weight: 600;
    }
}

@media only screen and (min-width: 1023px) {
    .productModal {
        .modalMain {
            max-width: 80%;
            padding: 30px 20px;
        }
        .cardName {
            font-size: 34px;
            margin-bottom: 25px;
        }
        &#modalSmall {
            .modalMain {
                max-width: 700px;
            }
        }
        .quoteBtn {
            top: -18px;
            right: 100px;
            padding: 8px 15px;
            font-size: 16px;
        }
    }
    .cardquickproduct {
        &.card {
            padding: 0;
        }
        .imgHolder {
            height: 360px;
            img {
                width: 100%;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    .detailsWrap {
        p {
            font-size: 18px;
        }
        h4 {
            font-size: 20px;
        }
    }
    .tableWrap {
        margin-top: 30px;
        .table {
            font-size: 16px;
            &.table-bordered td {
                padding: 10px 12px;
            }
        }
        .title {
            font-size: 18px;
        }
    }
}
