.quickContact {
    padding-bottom: 70px;
    .iconHolder {
        font-size: 20px;
        color: $accent;
        display: block;
        margin: 25px 0 15px;
    }
    li {
        text-align: center;
        height: 95px;
        margin: 15px auto;
        max-width: 300px;
        border-top: 1px solid $accent;
        &:first-child {
            border-top: 0;
        }
    }
}

@media only screen and (min-width: 1023px) {
    .quickContact {
        li {
            max-width: 100%;
            border: 0;
            margin: 0;
            border-right: 1px solid $accent;
            &:first-child {
                border-left: 1px solid $accent;
            }
        }
        .iconHolder {
            margin: 0 0 15px;
        }
    }
}
