@charset "UTF-8";
// Default Variables
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-size: 6px !default;
$slick-opacity-default:0.75 !default;
$slick-opacity-not-active: 0.25 !default;
@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: rgba($primary, 0.2);
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 5;
    &:hover,
    &:focus {
        background: $primary;
        &:before {
            opacity: 1;
        }
    }
    &:before {
        font-size: 0;
        line-height: 1;
        color: black;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 4px;
        height: 4px;
    }
    &.slick-disabled {
        opacity: 0;
        &:before {
            opacity: $slick-opacity-not-active;
        }
    }
}

.slick-prev {
    left: -16px;
    [dir="rtl"] & {
        left: auto;
        right: -16px;
    }
    &:before {
        margin-left: 0;
        content: "";
        @include arrow-line(left, 1px, $white, -1px);
        [dir="rtl"] & {
            content: "";
        }
    }
}

.slick-next {
    right: -16px;
    [dir="rtl"] & {
        left: -16px;
        right: auto;
    }
    &:before {
        content: "";
        @include arrow-line(right, 1px, $white, -1px);
        margin-right: 5px;
        margin-left: 0;
        [dir="rtl"] & {
            content: "";
        }
    }
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -30px;
    display: block;
    text-align: center;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 12px;
        width: 12px;
        margin: 0 3px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            display: block;
            height: 12px;
            width: 12px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            cursor: pointer;
            background: transparent;
            &:hover,
            &:focus {
                outline: none;
            }
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 5px;
                height: 5px;
                text-align: center;
                border: 1px solid transparent;
                background: rgba($primary, 0.4);
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                @include translate(-50%, -50%);
                @include border-radius(50%);
            }
        }
        &.slick-active {
            button {
                &:before {
                    border-color: $primary;
                    width: 10px;
                    height: 10px;
                    background: transparent;
                }
            }
        }
    }
}

// Accent dots Start
.sliderAccentDot {
    .slick-dots {
        li {
            button {
                &:before {
                    background: $accent;
                }
            }
            &.slick-active {
                button {
                    &:before {
                        border-color: $accent;
                        background: $white;
                    }
                }
            }
        }
    }
}

// Accent dots End

// White dots Start
.sliderWhiteDot {
    .slick-dots {
        li {
            button {
                &:before {
                    background: $white;
                }
            }
            &.slick-active {
                button {
                    &:before {
                        border-color: $white;
                        background: transparent;
                    }
                }
            }
        }
    }
}
// White dots End

// arrowSmall
.slider.arrowSmall{
    .slick-prev, .slick-next{
        width: 20px;
        height: 32px;
        @include box-shadow(4px 4px 14px 0 rgba(96,96,96,0.2));
        &:hover,
        &:focus {
            background: $accent;
            &:before {
                opacity: 1;
            }
        }
    }
    .slick-next{
        @include border-radius(4px 0 0 4px);
    }
    .slick-prev{
        @include border-radius(0 4px 4px 0);
    }
    
}


/* Slider */
.slider {
    width: 100%;
    margin:0 auto;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    &:focus{
        outline: 0;
    }
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
.whiteArrowHolder{
    .slick-arrow{
        background: $white !important;
        @include box-shadow(2px 2px 5px rgba($black, 0.16));
        &:before{
            border-color:$primary;
        }
        &:hover{
            background: $white !important;
            &:before{
                border-color:$accent;
            }
        }
    }    
}

.arrowHalfCircle{
    .slick-next, .slick-prev{
        width:20px;
        height: 42px;
        &::before{
            padding: 1px;
        }
    }
    .slick-next{
        @include border-radius(21px 0 0 21px);
        &::before{
            margin-right: 2px;
        }
    } 
    .slick-prev{
        @include border-radius(0 21px 21px 0);
        &::before{
            margin-left: 0;
        }
    }
}

@media only screen and (min-width: 1023px) {
    .slick-next, .slick-prev{
        width: 50px;
        height:50px;
        @include border-radius(50%);
    }
    .slick-dots {
        li {
            height: 14px;
            width: 16px;
            margin:0 5px;
            button {
                height: 12px;
                width: 12px;
                &:before {
                    width: 8px;
                    height: 8px;
                }
            }
            &.slick-active {
                button {
                    &:before {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
    .circleArrow{
        .slick-prev, .slick-next {
            @include border-radius(50%);
        }      
    }
    .whiteArrowHolder{
        .slick-arrow{
            width:48px;
            height:48px;
        }
    }
}