.welcomeSec {
    .imgHolder {
        width: 100%;
        padding: 40px 0 10px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .left-side {
        padding-left: 16px;
        h2 {
            font-size: 20px;
            letter-spacing: 1.5px;
            position: relative;
            text-transform: uppercase;
            &:after {
                content: "";
                left: 0;
                height: 3px;
                width: 100px;
                bottom: -20px;
                position: absolute;
                background: $accent;
            }
        }
        p {
            &.first {
                font-size: 16px;
                padding: 35px 0 20px;
            }
        }
    }
}

@media only screen and (min-width: 1023px) {
    .welcomeSec {
        .imgHolder {
            width: 600px;
            padding: 0;
        }
        .left-side {
            padding-left: 0;
            h2 {
                font-size: 38px;
                &:after{
                    bottom: -30px;
                }
            }
            p.first {
                font-size: 20px;
            }
        }
        .right-side {
            padding-right: 0;
        }
    }
}
