@import "../mixins/main-mixins";
@import "../helper/bhavani-variables";

/* Normalize Css Start */
* {
    @include box-sizing;
}
// html {
//     -ms-text-size-adjust: 100%;
//     -webkit-text-size-adjust: 100%;
// }
html,
body {
    font-family: $rubik-regular;
    color: $primary;
    font-size: 14px;
    line-height: 1.4;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

a {
    background-color: transparent;
    outline: 0;
    color: $black;
    text-decoration: none;
}

b,
strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3 {
    font-weight: normal;
    color: $primary;
    margin: 0;
    font-weight: bold;
}
h1,
h2,
.h1,
.h2 {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 16px;
    text-transform: capitalize;
}
h3,
.h3 {
    font-size: 18px;
}
i {
    font-style: normal;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 70%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    font-family: $rubik-regular;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid $primary;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}
/* Normalize Css End */

/* Globale Css */
p {
    font-size: 14px;
    line-height: 1.5;
    color: $primary;
}

/* ========= Common Pages Css =========*/
.body-fixed,
.bodyFixed {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
main {
    position: relative;
    overflow: hidden;
}
.section {
    padding: 30px 0;
}
.heading {
    h1,
    h2,
    .h1,
    .h2 {
        padding: 0 $space-md;
        text-align: center;
        letter-spacing: 1.5px;
    }
}
.bgGray {
    background: #fbfbfb;
}
.bgWhite {
    background: $white;
}

// Inner Pages
.innerPage {
    padding-top: 54px;
}

.showWeb {
    display: none !important;
}

// tabing
.tabContent {
    display: none;
    &.current {
        display: block;
    }
}
.heading {
    margin-bottom: 45px;
}
#WAButton{
    z-index: 999;
}
@media only screen and (min-width: 1023px) {
    .heading {
        margin-bottom: 60px;
        p {
            max-width: 928px;
            margin: 0 auto;
            padding-bottom: 20px;
            color: #777;
        }
    }
}
@media only screen and (max-width: 768px) {
    main {
        min-height: 100vh;
    }
}
