/* ========== Web/Desktop Scss Start ========== */
@media only screen and (min-width: 1023px) {
	html,
	body {
		font-size: 16px;
	}
	main {
		h1,
		h2,
		.h1,
		.h2 {
			font-size: 42px;
			line-height: 1.2;
			margin-bottom: 35px;
		}
		p {
			font-size: 16px;
		}

		.section {
			padding: 70px 0;
		}

		&.innerPage {
			padding-top: 100px;
		}
	}
	.showWeb {
		display: block !important;
	}
	.showWap {
		display: none !important;
	}
	.webContainer {
		padding-left: 20px !important;
		padding-right: 20px !important;
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
	}
}
/* ========== Web/Desktop Scss End ========== */
