.icon-hamburger {
    display: block;
    height: 3px;
    background: $primary;
    margin: 13px 0;
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background: $primary;
    }

    &:before {
        top: -7px;
    }

    &:after {
        bottom: -7px;
    }
}

#hamburgerMenu {
    width: 22px;
    height: 26px;
    position: relative;
    display: inline-block;
    @include transition-duration(0.3s);
    span {
        display: block;
        height: 3px;
        background: $primary;
        margin: 13px 0;
        position: relative;
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background: $primary;
        }

        &:before {
            top: -7px;
        }

        &:after {
            bottom: -7px;
        }
    }
}
