.icon-close{
    position: absolute;
    height: 20px;
    width: 20px;
    top: $space-sm+4;
    right: $space-sm;
    z-index: 105;
    @include transition-delay(0.3s);
    cursor: pointer;
    &:before, &:after{
        content: "";
        background:$primary;
        position: absolute;
        left:0;
        top: 9px;
        height: 2px;
        width: 100%;
    }
    &:before {
       @include rotate(-45deg);
    }
    &:after {
     @include rotate(45deg);
    }
}