  @font-face {
    font-family: 'icomoon';
    src:  url('../../../fonts/icomoon.eot?octpvm');
    src:  url('../../../fonts/icomoon.eot?octpvm#iefix') format('embedded-opentype'),
      url('../../../fonts/icomoon.ttf?octpvm') format('truetype'),
      url('../../../fonts/icomoon.woff?octpvm') format('woff'),
      url('../../../fonts/icomoon.svg?octpvm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-premium:before {
    content: "\e905";
  }
  .icon-project:before {
    content: "\e91c";
  }
  .icon-satisfaction:before {
    content: "\e924";
  }
  .icon-team:before {
    content: "\e926";
  }
  .icon-experience:before {
    content: "\e928";
  }
  .icon-fast-delivery:before {
    content: "\e929";
  }
  .icon-happy:before {
    content: "\e92b";
  }
  .icon-more:before {
    content: "\e923";
  }
  .icon-birthday:before {
    content: "\e927";
  }
  .icon-call:before {
    content: "\e904";
  }
  .icon-minus:before {
    content: "\e909";
  }
  .icon-news:before {
    content: "\e90a";
  }
  .icon-plus:before {
    content: "\e90b";
  }
  .icon-register:before {
    content: "\e90d";
  }
  .icon-user2:before {
    content: "\e914";
  }
  .icon-about:before {
    content: "\e915";
  }
  .icon-contact:before {
    content: "\e91d";
  }
  .icon-dashboard:before {
    content: "\e91e";
  }
  .icon-directory:before {
    content: "\e91f";
  }
  .icon-education:before {
    content: "\e920";
  }
  .icon-home:before {
    content: "\e921";
  }
  .icon-logout:before {
    content: "\e922";
  }
  .icon-gallery:before {
    content: "\e90c";
  }
  .icon-delete:before {
    content: "\e90f";
  }
  .icon-star-empty:before {
    content: "\e970";
  }
  .icon-star-fill:before {
    content: "\e972";
  }
  .icon-star-half:before {
    content: "\e974";
  }
  .icon-compare:before {
    content: "\e96d";
  }
  .icon-video:before {
    content: "\e96f";
  }
  .icon-What_Not_Covered-2:before {
    content: "\e95f";
  }
  .icon-What_Covered-4:before {
    content: "\e96a";
  }
  .icon-right:before {
    content: "\e966";
  }
  .icon-filter:before {
    content: "\e95b";
  }
  .icon-arrow:before {
    content: "\e958";
  }
  .icon-back-arrow:before {
    content: "\e959";
  }
  .icon-map:before {
    content: "\e93f";
  }
  .icon-heart-fill:before {
    content: "\e93d";
  }
  .icon-heart:before {
    content: "\e933";
  }
  .icon-edit:before {
    content: "\e936";
  }
  .icon-play:before {
    content: "\e935";
  }
  .icon-share:before {
    content: "\e934";
  }
  .icon-register-bike:before {
    content: "\e92f";
  }
  .icon-store-locator:before {
    content: "\e931";
  }
  .icon-comment:before {
    content: "\e92a";
  }
  .icon-login:before {
    content: "\e925";
  }
  .icon-rupee:before {
    content: "\e901";
  }
  .icon-age:before {
    content: "\e90e";
  }
  .icon-dispatch:before {
    content: "\e910";
  }
  .icon-network:before {
    content: "\e912";
  }
  .icon-shipping:before {
    content: "\e916";
  }
  .icon-gender:before {
    content: "\e907";
  }
  .icon-male:before {
    content: "\e908";
  }
  .icon-female:before {
    content: "\e906";
  }
  .icon-warranty:before {
    content: "\e917";
  }
  .icon-user:before {
    content: "\e91b";
  }
  .icon-search:before {
    content: "\e913";
  }
  .icon-location:before {
    content: "\e911";
  }
  .icon-mail:before {
    content: "\e902";
  }
  .icon-email:before {
    content: "\e902";
  }
  .icon-whatsapp:before {
    content: "\e903";
  }
  .icon-facebook:before {
    content: "\e918";
  }
  .icon-twitter:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e919";
  }
  .icon-youtube:before {
    content: "\e91a";
  }
  
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-more:before {
    content: "\e923";
  }
  .icon-birthday:before {
    content: "\e927";
  }
  .icon-call:before {
    content: "\e904";
  }
  .icon-minus:before {
    content: "\e909";
  }
  .icon-news:before {
    content: "\e90a";
  }
  .icon-plus:before {
    content: "\e90b";
  }
  .icon-register:before {
    content: "\e90d";
  }
  .icon-user2:before {
    content: "\e914";
  }
  .icon-about:before {
    content: "\e915";
  }
  .icon-contact:before {
    content: "\e91d";
  }
  .icon-dashboard:before {
    content: "\e91e";
  }
  .icon-directory:before {
    content: "\e91f";
  }
  .icon-education:before {
    content: "\e920";
  }
  .icon-home:before {
    content: "\e921";
  }
  .icon-logout:before {
    content: "\e922";
  }
  .icon-gallery:before {
    content: "\e90c";
  }
  .icon-delete:before {
    content: "\e90f";
  }
  .icon-star-empty:before {
    content: "\e970";
  }
  .icon-star-fill:before {
    content: "\e972";
  }
  .icon-star-half:before {
    content: "\e974";
  }
  .icon-compare:before {
    content: "\e96d";
  }
  .icon-video:before {
    content: "\e96f";
  }
  .icon-What_Not_Covered-2:before {
    content: "\e95f";
  }
  .icon-What_Covered-4:before {
    content: "\e96a";
  }
  .icon-right:before {
    content: "\e966";
  }
  .icon-filter:before {
    content: "\e95b";
  }
  .icon-arrow:before {
    content: "\e958";
  }
  .icon-back-arrow:before {
    content: "\e959";
  }
  .icon-map:before {
    content: "\e93f";
  }
  .icon-heart-fill:before {
    content: "\e93d";
  }
  .icon-heart:before {
    content: "\e933";
  }
  .icon-edit:before {
    content: "\e936";
  }
  .icon-play:before {
    content: "\e935";
  }
  .icon-share:before {
    content: "\e934";
  }
  .icon-register-bike:before {
    content: "\e92f";
  }
  .icon-store-locator:before {
    content: "\e931";
  }
  .icon-comment:before {
    content: "\e92a";
  }
  .icon-login:before {
    content: "\e925";
  }
  .icon-rupee:before {
    content: "\e901";
  }
  .icon-age:before {
    content: "\e90e";
  }
  .icon-dispatch:before {
    content: "\e910";
  }
  .icon-network:before {
    content: "\e912";
  }
  .icon-shipping:before {
    content: "\e916";
  }
  .icon-gender:before {
    content: "\e907";
  }
  .icon-male:before {
    content: "\e908";
  }
  .icon-female:before {
    content: "\e906";
  }
  .icon-warranty:before {
    content: "\e917";
  }
  .icon-user:before {
    content: "\e91b";
  }
  .icon-search:before {
    content: "\e913";
  }
  .icon-location:before {
    content: "\e911";
  }
  .icon-mail:before {
    content: "\e902";
  }
  .icon-email:before {
    content: "\e902";
  }
  .icon-whatsapp:before {
    content: "\e903";
  }
  .icon-facebook:before {
    content: "\e918";
  }
  .icon-twitter:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e919";
  }
  .icon-youtube:before {
    content: "\e91a";
  }
  