// Rubik regular
@font-face {
    font-family: $rubik-regular;
    src: url('../../../fonts/rubik-regular.woff2') format('woff2'), url('../../../fonts/rubik-regular.woff') format('woff');  
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Rubik Semi bold
// @font-face {
//     font-family: $rubik-regular;
//     src: url('../../../fonts/rubik-semi-bold.woff2') format('woff2'), url('../../../fonts/rubik-semi-bold.woff') format('woff');  
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

