@import "../components/header-wap";
@import "../components/header-web";

#header-main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 54px;
    width: 100%;
    z-index: 100;
    padding: 12px 15px;
    @include transition(all 0.3s ease-in-out);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    &.scroll-down {
        transform: translateY(-100%);
        z-index: 100;
        top: 0;
    }
    &.scroll-up {
        top: 0;
        z-index: 99;
        transform: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.9);
        nav li a{
            color: $primary;
        }   
    }
}

@media only screen and (min-width: 1023px) {
    #header-main {
        height: 100px;
        box-shadow: none;
        background: transparent;
        padding: 0 !important;
    }
}
